@charset "UTF-8";
* {
  font-family: 'JetBrains Mono'; }

.navbar .container-fluid a:hover {
  background-color: white;
  color: black !important; }

.navbar .container-fluid .navbar-toggler {
  background-color: white; }

.navbar .container-fluid .navbar-nav {
  margin-left: 70%; }

.navbar .container-fluid .navbar-brand:hover {
  background-color: black; }

footer {
  background-color: #ff6100;
  padding: 5rem; }
  footer .img__footer {
    width: 4rem; }

@media (max-width: 576px) {
  .h1__cogitomania {
    font-size: 5rem; }
  .p__podcast {
    margin-left: 8rem;
    font-size: 80%; }
  .div__ciencia {
    display: flex; }
  .p__ciencia {
    margin-left: 8rem;
    font-size: 80%;
    order: 2; }
  .img__ciencia {
    order: 1; }
  .p__cultura {
    margin-left: 8rem;
    font-size: 80%; } }

@media (max-width: 768px) {
  .h1__cogitomania {
    font-size: 7rem; }
  .cogitomania__description {
    font-size: 80%; } }

.style-index {
  /* USO DEL EXTEND */
  /* USO DEL MIXIN */
  /* ACÁ INCLUYO EL MIXIN*/ }
  .style-index .h1__cogitomania {
    font-family: 'April Fatface', bold;
    font-size: 7rem;
    margin-top: 5rem;
    color: white; }
  .style-index .cogitomania__description {
    padding: 4rem;
    font-size: 120%;
    color: #ff6100;
    font-style: italic; }
  .style-index .podcast__icon {
    width: 20rem; }
  .style-index .h2__podcast, .style-index .h2__ciencia {
    font-size: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: white; }
  .style-index .p__podcast {
    color: white;
    margin-right: 3rem;
    margin-top: 3rem; }
  .style-index .ciencia__icon {
    width: 20rem; }
  .style-index .cultura__icon {
    width: 20rem; }
  .style-index .h2__cultura {
    font-size: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: white; }
  .style-index .p__cultura {
    color: white;
    margin-left: 3rem;
    margin-top: 3rem; }

.quien-soy .img__quiensoy {
  width: 30rem;
  display: flex;
  margin: 0 auto;
  margin-top: 2rem; }

.quien-soy .p__quiensoy {
  padding: 5rem;
  color: #ff6100;
  font-size: 2rem; }

.contacto .form__contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white; }

.card-container {
  padding: 3rem; }
  .card-container .card-title {
    font-size: 3rem;
    padding: 3rem; }
  .card-container .card-text {
    padding: 3rem; }
  .card-container .btn {
    margin-bottom: 3rem; }
