.style-index {
    .h1__cogitomania {
        font-family: 'April Fatface', bold;
        font-size: 7rem;
        margin-top: 5rem;
        color: white;
    }
    .cogitomania__description {
        padding: 4rem;
        font-size: 120%;
        color: #ff6100;
        font-style: italic;
    }
    .podcast__icon {
        width: 20rem;
    }
    .h2__podcast {
        font-size: 5rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        color: white;
    }
    .p__podcast {
        color: white;
        margin-right: 3rem;
        margin-top: 3rem;
    }
    .ciencia__icon {
        width: 20rem;
    }
    .h2__ciencia {
        font-size: 5rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        color: white;
    }
    .p__ciencia {
        color: white;
        margin-left: 3rem;
        margin-top: 3rem;
    }
    .cultura__icon {
        width: 20rem;
    }
    .h2__cultura {
        font-size: 5rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        color: white;
    }
    .p__cultura {
        color: white;
        margin-right: 3rem;
        margin-top: 3rem;
    }
}
