.card-container {
    padding: 3rem;
    .card-title {
        font-size: 3rem;
        padding: 3rem;
    }
    .card-text {
        padding: 3rem;
    }
    .btn {
        margin-bottom: 3rem;
    }
}